img {
  display: block;
  max-width: 25%;
  margin: 0 auto;
}

@media (min-width: 30em) {
  p {
    margin: 0 auto;
    max-width: 75%;
  }
  
  hr {
    max-width: 75%;
  }
}

.caption {
  display: none;
}
